header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container{
    justify-content: space-between;
}
.container01{
    background-color: blue ;
    display: flex;
    flex-direction: column;
}
.caixa {
    flex-direction: column;
    margin-bottom: 10px;
    
}
.caixa2 {
    flex-direction: column;
    margin: 111;
    margin-bottom: 10px;
    
}