body {
    background-color: rgb(58, 58, 58);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px; /* Espaço para cima */
    padding-bottom: 50px; /* Espaço para baixo */
}

.container {
    text-align: center;
    width: 45%; /* Largura do container */
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.contador {
    font-size: 36px;
    margin-bottom: 20px;
}

.botao {
    padding: 10px 20px;
    font-size: 18px;
    color: rgb(58, 58, 58);
    background-color: #e8e8e8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Espaço entre botões */
}

.botao:hover {
    background-color: #ccc;
}

.botao.truco-ativo {
    background-color: red;
}
