#titulo{
    color: rgb(253, 253, 253);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
header {
    background-color: rgb(0, 0, 0);
    padding: 3px;
    color: white;
}
.sobres{
    display: flex;
}
.sobre{
    position: relative;
    margin: 10px; 
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top: -57px;
    left: 1170px;
}
.logo {
    position: fixed;
    bottom: 350px;
    right: 650px; 
}


