* {
    margin: 0px;    
}
.container{
    background-color: black;
    display: flex;
    height: 90px;
    text-align: center;
}
.logo{
    flex: 1;
    text-align: left;

}
#titulo{
    flex: 1;
    color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: relative;
    max-height: 100px;
    margin: 20px;
}
a{
    margin: 5px;
    text-decoration: none;
    color: white;
}
.sobre{
    
    flex: 1;
    margin: 28px;
    text-align: right;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
      

}




